body{
    background:#111827;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    margin:40px;
}

#titulo{
    text-align: center;
    color:royalblue;
    text-align:center;
}

.regras{
    max-width:800px;
    margin:auto;
    font-size:15px;
    line-height:1.8;
    color: azure;
    border: solid skyblue 1px;
}

.regras li{
    margin-bottom:25px;
   overflow: hidden;
}
#seta{
  font-size: 45px;
  font-weight: 600;
  position:fixed;
  top: 80%;
  left:5%;
  transition: color 200ms ease;
}
#seta a{
  color: black;
  border: solid blue 3px;
  text-decoration: none; 
  border-radius: 2px;
  box-shadow: 0 4px 20px rgb(0, 16, 135);
  background-color: whitesmoke;
  font-size: 40px;
}
#seta :hover{
   font-size: 50px;
}
#seta :hover a{
  font-size: 30px;
}
@media(max-width:1024px){

    #Texto{
        font-size:55px;
    }

    #Texto2{
        font-size:55px;
    }

    #VAZA{
        font-size:65px;
    }

}
@media (max-width:768px){

    #Texto{
        font-size:30px;
    }

    #Texto2{
        font-size:28px;
    }

    #VAZA{
        font-size:40px;
        width:90%;
        text-align:center;
    }

    #seta{
        top:88%;
        left:3%;
    }

    #seta a{
        font-size:28px;
    }

}