html, body{
  width: 100%;
  height: 100%;
}

.imagem{
  width: 100%;
  height: 100%;
  background-image: url("Gemini_Generated_Image_i5s4q1i5s4q1i5s4.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  z-index: -1;
}
#Texto{
  color: white;
  font-size: 80px;
  font-weight: 600;
  text-shadow: 3px 3px 30px black;
}
#Texto2{
  color: white;
  font-size: 80px;
  font-weight: 600;
  text-shadow: 3px 3px 30px black;
  position: fixed;
  bottom: 0;
  left: 0;
}
#VAZA{
  color: white;
  font-size: 90px;
  font-weight: 600;
  text-shadow: 3px 3px 30px black;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-family: fantasy,"Comic Sans",cursive;
  background-color: #ffff00;
  color: #ff0000;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 0.8;
  text-shadow: 2px 2px 0px #0000ff;
  transform: rotate(-2deg); 
  animation:saidotunel 1s ease-in forwards;
}
#container{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
@keyframes saidotunel {
  from{
    font-size: 0;
    left: 80%;
  }
  to{
    font-size: 90px;
    left: 50%;
  }
}